/* 
    aside.html 공통 css
    동일한 문서 내 모든 선택자 앞에 .aside 명시
*/
.aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    z-index: 1;
    width: 335px;
    height: 100vh;
    padding: 8px 12px 20px;
    border-right: 1px solid #dbdbdb;
}

/* 헤더: 인스타그램 로고, 아이콘 */
.aside header {
    height: 90px;
    padding: 15px 10px;
}

/* 인스타그램 로고 (default) */
.aside header .logo {width: 106px;}

/* 인스타그램 아이콘 (반응형) */
.aside header .icon {display: none;}

/* 메뉴 아이콘 (공통) */
.aside .icon {
    width: 24px;
    transition-duration: 0.2s;
}

/* 섹션: 메뉴 바 */
.aside section {flex-grow: 1;}

/* 섹션, 푸터 메뉴 리스트 */
.aside li, .aside footer > div:last-child {
    display: flex;
    margin: 8px 4px;
    padding: 12px;
    font-size: 16px;
    list-style: none;
}

/* 섹션, 푸터 메뉴 리스트 hover */
.aside li:hover, .aside footer > div:last-child:hover {
    border-radius: 7px;
    background-color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* 메뉴 리스트 이름 */
.aside .menu {
    padding-left: 16px;
    line-height: 24px;
    font-size: 1.1rem;
    color: black;
}

/* 메시지, 알림 메뉴 */
.aside section .notify-icon {position: relative;}

/* 빨간 점 알림 표시: 모든 알림 */
.aside .notify {
    position: absolute;
    border: 1px solid white;
    border-radius: 100%;
    background-color: #FF3040;
}

/* 빨간 점 알림: 메시지 */
.aside .msg {
    display: flex;
    justify-content: center;
    top: 5px;
    left: 25px;
    width: 18px;
    height: 18px;
    line-height: 16px;
}

/* 메시지 숫자 표시 */
.aside .msg span {
    color: white;
    font-size: 0.7rem;
}

/* 빨간 점 알림: 좋아요, 댓글 등 */
.aside .heart {
    position: absolute;
    top: 10px;
    left: 29px;
    width: 12px;
    height: 12px;
}

/* 프로필 메뉴 div */
.aside .profile-image div {
    width: 23px;
    height: 23px;
}

/* 검색 창 */
.aside .search-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 75px;
    width: 400px;
    height: 100vh;
    border-right: 1px solid #f2f2f2;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 4px 0px 24px 3px #dbdbdb;
    background-color: #ffffff;
}

.aside .search-window > div:first-child {
    margin: 8px 0;
    padding: 16px 14px 32px 24px;
}

/* 검색 입력 */
.aside .search-window .input {
    height: 64px;
    margin: 0 16px;
}

.aside .search-window .input > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: #efefef;
}

/* 검색 아이콘 */
.aside .search-window .input > div > div:first-child {height: 16px;}

.aside .search-window .input img {
    width: 15px;
    height: 15px;
}

.aside .search-window .input > div > div:first-child img {
    margin-right: 12px;
    opacity: 0.5;
}

/* 검색 내용 입력 text */
.aside .search-window .input .text {
    width: 305px;
    height: 34px;
    border: none;
    outline: none;
    resize: none;
    background-color: #efefef;
    font-size: 1rem;
}

/* 검색 내용 삭제 아이콘 */
.aside .search-window .input > div > div:last-child {
    display: none;
    height: 16px;
}

.aside .search-window .input > div > div:last-child img {opacity: 0.15;}

/* 검색 목록 */
.aside .search-list {display: none;}

/* 검색 블록 */
.aside .search-block {
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

.aside .search-block:hover {background-color: #f2f2f2;}

/* 검색 블록 이미지 (프로필, 아이콘) */
.aside .search-block .image {
    height: 44px;
    margin-right: 12px;
}

.aside .search-block img {
    width: 44px;
    border-radius: 100%;
}

/* 검색 블록 내용 */
.aside .search-block .content {flex-grow: 1;}

.aside .search-block .content > div {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.aside .search-block .content > div:first-child {font-weight: bold;}

.aside .search-block .content > div:last-child {color: #737373;}

.aside .search-window hr {
    height: 1px;
    border: 0;
    background: #dadde1;
}

/* 최근 검색 항목 */
.aside .recently {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.aside .recently > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 24px 8px;
    font-weight: bold;
}

.aside .recently > div:first-child > div:first-child {font-size: 1rem;}

.aside .recently > div:first-child > div:last-child {
    font-size: 14px;
    color: #0095f6;
}

.aside .recently .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
    color: #737373;
}

.aside .recently .exist {padding: 8px 0;}

.aside .recently .exist .search-block {position: relative;}

.aside .recently .exist .content > div {width: 250px;}

/*  검색 블록 삭제 */
.aside .recently .exist .clear {
    position: absolute;
    top: 14px;
    right: 23.5px;
    width: 16px;
    margin: 8px;
}

/* 푸터: 더 보기 */
.aside footer {position: relative;}

/* 더 보기 창 */
.aside .detail-window {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 65px;
    width: 266px;
    height: 404.5px;
    border-radius: 16px;
    box-shadow: 0 3px 5px 3px #e7e7e7;
    background-color: #ffffff;
}

/* 상단: 더 보기 메뉴 */
.aside .detail-window > div:first-child {
    padding: 8px;
    border-bottom: 6px solid #dbdbdb4d;
}

/* 더 보기 창 a */
.aside .detail-window a {display: block;}

.aside .detail-window a:hover {
    border-radius: 7px;
    background-color: #f2f2f2;
    transition-duration: 0.2s;
}

.aside .detail-window a div {
    display: flex;
    padding: 16px;
}

.aside .detail-window img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.aside .detail-window span {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* 하단: 계정 전환 */
.aside .logout a:first-child {margin: 8px 8px 0 8px;}

.aside .logout hr {
    height: 0.5px;
    margin: 8px 0;
    border: 0;
    background-color: #dbdbdb80;
}

/* 하단: 로그아웃 */
.aside .logout a:last-child {margin: 0 8px 8px 8px;}

/* 미디어 쿼리 */
@media (max-width: 1919px) {
    .aside {width: 240px;}
    .main {margin-left: 240px;}
}

@media (max-width: 1263px) {
    .aside {width: 80px;}
    .aside header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside header .logo {display: none;}
    .aside header .icon {display: block;}
    .aside .menu {display: none;}
    .main {margin-left: 80px;}
}