/* 
    aside.html 공통 css
    동일한 문서 내 모든 선택자 앞에 .aside 명시
*/
.aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    width: 335px;
    height: 100vh;
    padding: 8px 12px 20px;
    border-right: 1px solid #dbdbdb;
}

/* 헤더: 인스타그램 로고, 아이콘 */
.aside header {
    height: 90px;
    padding: 15px 10px;
}

/* 인스타그램 로고 (default) */
.aside header .logo {width: 106px;}

/* 인스타그램 아이콘 (반응형) */
.aside header .icon {display: none;}

/* 메뉴 아이콘 (공통) */
.aside .icon {
    width: 24px;
    transition-duration: 0.2s;
}

/* 섹션: 메뉴 바 */
.aside section {flex-grow: 1;}

/* 섹션, 푸터 메뉴 리스트 */
.aside li, .aside footer > div:last-child {
    display: flex;
    margin: 8px 4px;
    padding: 12px;
    font-size: 16px;
    list-style: none;
}

/* 섹션, 푸터 메뉴 리스트 hover */
.aside li:hover, .aside footer > div:last-child:hover {
    border-radius: 7px;
    background-color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* 메뉴 리스트 이름 */
.aside .menu {
    padding-left: 16px;
    line-height: 24px;
    font-size: 1.1rem;
    color: black;
}

/* 메시지, 알림 메뉴 */
.aside section .notify-icon {position: relative;}

/* 빨간 점 알림 표시: 모든 알림 */
.aside .notify {
    position: absolute;
    border: 1px solid white;
    border-radius: 100%;
    background-color: #FF3040;
}

/* 빨간 점 알림: 메시지 */
.aside .msg {
    display: flex;
    justify-content: center;
    top: 5px;
    left: 25px;
    width: 18px;
    height: 18px;
    line-height: 16px;
}

/* 메시지 숫자 표시 */
.aside .msg span {
    color: white;
    font-size: 0.7rem;
}

/* 빨간 점 알림: 좋아요, 댓글 등 */
.aside .heart {
    position: absolute;
    top: 10px;
    left: 29px;
    width: 12px;
    height: 12px;
}

/* 프로필 메뉴 div */
.aside .profile-image div {
    width: 23px;
    height: 23px;
}











/* 검색 창 */
.aside .search-window {
    position: absolute;
    top: 0;
    left: 80px;
    width: 400px;
    height: 100vh;
    border: 2px solid red;
    background-color: white;
}

/* 검색 입력 */
.aside .input {
    height: 64px;
    padding: 24px 16px;

    border: 1px solid blueviolet;
}

.aside .input > div {
    display: flex;
    border-radius: 8px;
    background-color: #efefef;
}

/* 검색 내용 입력 text */
.aside .input .text {
    border: none;
    resize: none;
    background-color: #efefef;
}







.message .input > div {height: 100%;}

.message .input form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 18px;
}

.message .input textarea {
    width: 100%;
    height: 34px;
    padding: 8px 9px;
    outline: none;
}

/* 이미지 첨부, 하트 이모티콘 아이콘 */
.message .input > div > div {
    display: flex;
    width: 40px;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}

/* 하트 이모티콘 아이콘 */
.message .input > div > div:last-child {margin-right: 8px;}










.aside footer {position: relative;}

/* 더 보기 창 */
.aside .detail-window {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 65px;
    width: 266px;
    height: 404.5px;
    border-radius: 16px;
    box-shadow: 0 3px 5px 3px #e7e7e7;
    background-color: #ffffff;
}

/* 상단: 더 보기 메뉴 */
.aside .detail-window > div:first-child {
    padding: 8px;
    border-bottom: 6px solid #dbdbdb4d;
}

/* 더 보기 창 a */
.aside .detail-window a {display: block;}

.aside .detail-window a:hover {
    border-radius: 7px;
    background-color: #f2f2f2;
    transition-duration: 0.2s;
}

.aside .detail-window a div {
    display: flex;
    padding: 16px;
}

.aside .detail-window img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.aside .detail-window span {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* 하단: 계정 전환 */
.aside .logout a:first-child {margin: 8px 8px 0 8px;}

.aside .logout hr {
    height: 0.5px;
    margin: 8px 0;
    border: 0;
    background-color: #dbdbdb80;
}

/* 하단: 로그아웃 */
.aside .logout a:last-child {margin: 0 8px 8px 8px;}

/* 미디어 쿼리 */
@media (max-width: 1919px) {
    .aside {width: 240px;}
    .main {margin-left: 240px;}
}

@media (max-width: 1263px) {
    .aside {width: 80px;}
    .aside header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside header .logo {display: none;}
    .aside header .icon {display: block;}
    .aside .menu {display: none;}
    .main {margin-left: 80px;}
}