/* 공통 css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SUIT-Regular', sans-serif;
    letter-spacing: 0.1px;
}

a {
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin-left: 335px;
}

/* main -> 푸터 */
.main .policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17px 0 52px;
    padding: 0px 20px;
}

.main .policy * {
    font-size: 0.8rem;
    color: #737373;
}

/* 푸터: 이용 정책 */
.main .policy div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .policy a {margin: 0 8px 8px;}

.main .policy a:hover {text-decoration: underline;}

/* 푸터: 저작권 표시 */
.main .policy div:last-child {margin: 12px 0;}

















/* profile-image border */
.profile-image > div:first-child {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}

.profile-image > div:first-child::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0, .0975);
    border-radius: 100%;
    content: '';
}

.profile-image img {width: 100%;}

/* button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-left: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* blue button */
.blue {
    background-color: #0095f6;
    color: white;
}

.blue:hover {background-color: #1877f2;}

/* gray button */
.gray {
    background-color: #EFEFEF;
    color: black;
}

.gray:hover {background-color: #dbdbdb;}

/* body container */
.container {display: flex;}