.message .main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fafafa;
}

/* message box */
.message .box {
    display: flex;
    width: 100%;
    max-width: 935px;
    height: 100%;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.message .icon {width: 24px;}

/* box left */
.message .left {
    width: 350px;
    border-right: 1px solid #dbdbdb;
}

.message .left > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1rem;
    font-weight: bold;
}

.message .left > div:nth-child(1) a {position: relative;}

.message .left > div:nth-child(1) img {
    position: absolute;
    bottom: -12px;
    left: 85px;
}

.message .left > div:nth-child(2) {
    display: flex;
    height: 45px;
    border-bottom: 1px solid #dbdbdb;
}

.message .left > div:nth-child(2) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 100%;
    font-size: 0.9rem;
    font-weight: bold;
}

/* temp */
.message .left > div:nth-child(2) > div:first-child {border-bottom: 1px solid black;}

.message .left > div:nth-child(2) .request {flex-grow: 1;}

.message .left > div:nth-child(2) .request a {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    text-align: right;
    color: #0095f6;
}

/* message room */
.message .left > div:nth-child(3) {padding-top: 8px;}

.message .msg-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 8px 20px;
}

/* temp */
.message .msg-room .temp {width: 220px !important;}

/* temp */
.message .msg-room .temp > * {
    font-weight: bold;
    color: black !important;
}

.message .msg-room:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    transition-duration: 0.1s;
}

.message .msg-room .profile-image > div {
    width: 56px;
    height: 56px;
}

.message .msg-room > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
}

.message .msg-room > div:nth-child(2) > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95rem;
}

.message .msg-room > div:nth-child(2) > div:last-child {color: #737373;}

.message .msg-room .notify {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #0095f6;
}

/* msg-request */
.message .msg-request > div:first-child {
    padding: 14px;
    font-size: 0.8rem;
    color: #737373;
}

/* box right-intro */
.message .right-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.message .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message .intro > div:nth-child(1) {
    position: relative;
    height: 96px;
}

.message .intro > div:nth-child(2) {
    margin-top: 16px;
    font-size: 1.3rem;
}

.message .intro > div:nth-child(3) {
    margin-top: 5px;
    font-size: 0.95rem;
    color: #737373;
    text-align: center;
}

.message .intro .circle {
    width: 96px;
    height: 100%;
    border: 3px solid black;
    border-radius: 100%;
}

.message .intro img {
    position: absolute;
    left: 24px;
    bottom: 24px;
    width: 45px;
}

.message .intro .button {margin-top: 24px;}

.message .intro #msg {width: 120px;}

.message .intro #move {width: 150px;}

.message .intro #hide {
    left: 26px;
    bottom: 26px;
}

/* box right-chat */
.message .right-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.message .chat-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1rem;
    font-weight: bold;
}

.message .chat-name .profile-image > div {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.message .chat-name > div:nth-child(2) {margin-left: 12px;}

.message .chat-name > div:nth-child(3) {margin-left: auto;}

.message .chat-name > div:nth-child(3) > a {display: flex;}

/* chat-window output */
.message .chat-window > div:first-child {
    overflow: auto;
    max-height: 1105px;
    padding: 20px 20px 0 20px;
}

.message .datetime {
    height: 50px;
    padding-top: 12px;
    font-size: 0.8rem;
    color: #737373;
    text-align: center;
}

.message .output {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message .output .chat {
    max-width: 365px;
    padding: 16px;
    border-radius: 20px;
}

.message .output .heart {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #efefef;
}

.message .output .heart img {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 14px;
}

/* receive message */
.message .receive .profile-image > div {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.message .receive .chat {border: 1px solid #efefef;}

/* sent message */
.message .sent {justify-content: flex-end;}

.message .sent .chat {background-color: #efefef;}

/* chat-window input */
.message .input {
    height: 84px;
    padding: 20px;
}

.message .input > div {
    display: flex;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 25px;
}

.message .input form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 18px;
}

.message .input textarea {
    width: 100%;
    height: 34px;
    padding: 8px 9px;
    border: none;
    outline: none;
    resize: none;
}

.message .input > div > div {
    display: flex;
    width: 40px;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}

.message .input > div > div:last-child {margin-right: 8px;}

/* chat-window req */
.message .req {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

.message .req > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 115px;
    padding: 16px;
    border-top: 1px solid #dbdbdb;
    background-color: #fafafa;
}

.message .req > div:first-child > div:nth-child(1) > span {font-weight: bold;}

.message .req > div:first-child > div:nth-child(2) {color: #737373;}

.message .req > div:first-child > div:nth-child(3) {
    margin-top: auto;
    font-size: 0.8rem;
    color: #737373;
}

.message .req > div:last-child {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid #dbdbdb;
}

.message .req > div:last-child > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 24px;
    font-weight: bold;
}

.message .req > div:last-child > div:not(:last-child) {border-right: 1px solid #dbdbdb;}

.message .req > div:last-child > div:not(:last-child) a {color: #ed4956;}

/* box right-info */
.message .right-info {
    flex-grow: 1;
    font-size: 0.95rem;
}

.message .right-info > * {padding: 0 16px;}

.message .right-info > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1rem;
    font-weight: bold;
}

.message .right-info > div:nth-child(1) a {position: relative;}

.message .right-info > div:nth-child(1) img {
    position: absolute;
    bottom: -12px;
    left: 218px;
}

.message .right-info > div:nth-child(2) {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid #dbdbdb;
}

.message .right-info > div:nth-child(2) label {
    margin-left: 8px;
    cursor: pointer;
}

.message .right-info > div:nth-child(3) {border-bottom: 1px solid #dbdbdb;}

.message .right-info > div:nth-child(3) > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 16px;
}

.message .right-info #move {
    width: 60px;
    cursor: pointer;
}

.message .right-info > div:nth-child(3) > div:last-child {
    height: 40px;
    margin: 16px 0;
    color: #737373;
}

.message .right-info > div:nth-child(4) {
    padding: 16px 0;
    border-bottom: 1px solid #dbdbdb;
}

.message .right-info > div:nth-child(4) > span {
    margin: 8px 0;
    padding: 0 16px;
    font-size: 1rem;
    font-weight: bold;
}

.message .right-info > div:nth-child(4) > a {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 8px 16px 0;
}

.message .right-info > div:nth-child(4) > a:hover {
    background-color: #f2f2f2;
    transition-duration: 0.1s;
}

.message .right-info .profile-image > div {
    width: 56px;
    height: 56px;
    margin-right: 12px;
}

.message .right-info .bold {font-weight: bold;}

.message .right-info > div:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    border-bottom: 1px solid #dbdbdb;
}

.message .right-info > div:nth-child(5) a {
    font-size: 0.95rem;
    font-weight: bold;
    color: #ed4956;
}