/* 동일한 문서 내 모든 선택자 앞에 .profile 명시 */

/* 헤더, 메인 */
.profile .main > div {
    max-width: 975px;
    padding: 30px 20px 0;
}

/* 헤더: 계정 소개 */
.profile .introduce {
    display: flex;
    flex-direction: column;
}

/* 프로필 이미지, 상세 소개 */
.profile .info {
    display: flex;
    min-height: 150px;
    margin-bottom: 44px;
    font-size: 0.9rem;
}

/* 프로필 이미지 */
.profile .info > .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin-right: 30px;
}

.profile .info > .profile-image div {
    width: 150px;
    height: 150px;
}

/* 상세 소개 */
.profile .detail {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* 아이디, 팔로우,메시지 버튼 등 */
.profile .user-id {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 20px;
    background-color: white;
}

/* 아이디 */
.profile .insta-id {
    margin-right: 20px;
    font-size: 1.3rem;
    color: black;
}

/* 팔로우, 메시지 버튼 등 */
.profile .user-id div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    margin-left: 5px;
}

/* 팔로우 버튼 */
.profile #flw {width: 82px;}

/* 맞팔로우 버튼 */
.profile #fup {width: 128px;}

/* 팔로잉 버튼 */
.profile #flg {width: 98px;}

/* 메시지 버튼 */
.profile #msg {width: 120px;}

/* 프로필 편집 버튼 */
.profile #edit {width: 106px;}

/* 추천 계정 버튼 */
.profile #add {width: 34px;}

/* 추천 계정 버튼 아이콘 */
.profile #add img {width: 16px;}

/* 추천 계정, 옵션, 설정 아이콘 */
.profile .user-id div img {width: 25px;}

/* 옵션, 설정 아이콘 */
.profile .user-id div a {line-height: 10px;}

/* ???? */
.profile .a-line {height: 18px;}

/* 게시물, 팔로워, 팔로우 수 */
.profile .data {
    display: flex;
    margin-bottom: 20px;
}

.profile .data li {
    display: inline;
    margin-right: 40px;
    list-style: none;
    font-size: 1.1rem;
}

.profile .data li * {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.profile .data a {color: black;}

/* 이름 */
.profile .name {font-weight: bold;}

/* 카테고리 */
.profile .category {color: #737373;}

/* 소개 */
.profile .letter {width: 615px;}

/* 링크 */
.profile .link a {
    font-weight: bold;
    color: #00376b;
}

/* 팔로우하는 이웃 */
.profile .follow-with {
    height: 25px;
    font-size: 0.8rem;
    line-height: 40px;
}

.profile .follow-with .neighbor {font-weight: bold;}

/* 스토리 하이라이트 */
.profile .highlight {
    display: flex;
    height: 130px;
    margin-bottom: 44px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* 하이라이트 그룹 */
.profile .highlight > div {
    display: flex;
    /* flex-direction: column; */
    width: 125px;
    height: 130px;
    padding: 10px 15px;
}

.profile .highlight > div * {margin: auto;}

.profile .highlight > div > a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 하이라이트 이미지 */
.profile .highlight > div div:first-child {
    display: flex;
    width: 87px;
    height: 87px;
}

.profile .highlight img {
    width: 77px;
    border-radius: 100%;
}

/* 하이라이트 이름 */
.profile .highlight > div div:last-child {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 추천 계정 */
.profile .recommend {
    height: 278px;
    margin: -16px 0 28px;
    padding: 20px 0;
    border: 1.5px solid #dbdbdb;
    border-radius: 5px;
}

.profile .recommend > div:first-child {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #737373;
}

.profile .recommend > div > a {color: #0095f6;}

.profile .recommend > div:last-child {
    display: flex;
    justify-content: space-around;
}

/* 추천 계정 카드 */
.profile .recommend > div:last-child > div {
    width: 174px;
    height: 196px;
}

.profile .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1.5px solid #dbdbdb;
    border-radius: 5px;
}

.profile .card * {
    margin: auto;
    text-align: center;
}

/* 추천 계정: 프로필 이미지 */
.profile .card > div:nth-child(1) {
    width: 54px;
    height: 54px;
    margin-bottom: 20px;
}

.profile .card > div:nth-child(1) img {border-radius: 100%;}

/* 추천 계정: 아이디, 이름 */
.profile .card > div:nth-child(2) {
    flex-grow: 1;
    width: 100%;
    font-size: 0.9rem;
}

.profile .card > div:nth-child(2) * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 추천 계정: 아이디 */
.profile .card > div:nth-child(2) > div:first-child {font-weight: bold;}

/* 추천 계정: 팔로우 버튼 */
.profile .card .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 32px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* 추천 계정 삭제 아이콘 */
.profile .recommend > div:last-child > div > a {position: relative;}

/* 추천 계정 삭제 아이콘 이미지 */
.profile .recommend .x {
    position: absolute;
    left: 140px;
    bottom: 162px;
    width: 34px;
    padding: 12px;
}

/* 메인: 게시물 피드 */
.profile hr {
    height: 1px;
    border-width: 0;
    background: #dadde1;
}

/* 게시물 피드 탭 메뉴 */
.profile .tab-menu {
    display: flex;
    justify-content: center;
    height: 53px;
}

.profile .tab-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57px;
    height: 52px;
    border-top: 1px solid black;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.profile .tab-menu a:not(:last-child) {margin-right: 60px;}

.profile .tab-menu img {
    width: 12px;
}

/* 피드 */
.profile .feed-row {
    display: flex;
    justify-content: space-between;
}

.profile .feed-row > a {
    position: relative;
    width: calc(33.3333% - 2.66px);
}

/* 썸네일 이미지 */
.profile .feed-row .thumbnail {width: 100%;}

/* 게시물 고정 아이콘 */
.profile .feed-row .icon {
    position: absolute;
    right: 0px;
    width: 22px;
    margin: 8px;
    filter: invert(100%);
}

/* 게시물 없음 */
.profile .no-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.profile .no-posts img {width: 62px;}

.profile .no-posts > div:nth-child(2) {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.profile .no-posts > div:nth-child(3) {
    margin-top: 20px;
    font-size: 0.9rem;
}

/* 비공개 계정 */
.profile .private {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 2px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 36px;
}

/* 게시물 피드 -> 추천 계정 */
.profile .posts .recommend {padding: 40px 0;}